<nav class="navbar navbar-inverse bg-inverse">
  <div class="container">
    <div class="navbar-header">

      <img class="img-responsive" src="../assets/images/img1.jpg" style="width:250px;height:100px;">
      <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-dropdown">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
    </div>
  
    <div class="collapse navbar-collapse" id="nav-dropdown">  
      <ul class="nav navbar-nav ">
        <li class="active" id=""><a href="/">Home</a></li>
        <li class="active" id=""><a href="/about">About</a></li>
        <li class="active" id=""><a href="/limits">Limits</a></li>
        <li class="active" id=""><a href="/relationships">Relationships</a></li>
        <li class="active" id=""><a href="/dashboard">Dashboard</a></li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>